input[type="radio"] {
  display: none;
  margin: 1em;
}
.switch-field {
  display: flex;
  margin-bottom: 1em;
  overflow: hidden;
}
.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  border: 0;
  overflow: hidden;
}
.switch-field label {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  text-align: center;
  padding: 0.25em;
  border: 1px solid lightgray;
  transition: all 0.1s ease-in-out;
  width: -webkit-fill-available;
}
.switch-field label:hover {
  cursor: pointer;
  box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
}
.switch-field input:checked + label {
  background-color: gray;
  color: white;
}
.switch-field label:first-of-type {
  border-radius: 0.25em 0 0 0.25em;
}
.switch-field label:last-of-type {
  border-radius: 0 0.25em 0.25em 0;
}
input {
  background-color: transparent;
  color: black;
  position: relative;
}
.placeholder {
  color: lightgray;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: absolute;
  display: none;
}
.inputs {
  position: relative;
}
